{extends file="{$VIEW}/common/base.html"}
{block name="title"}哈哈{/block}
{block name="css"}
<link href="{$__PUBLIC__}/admin/admin/index.css" type="text/css" rel="stylesheet">
{/block}
{block name="sidebar"}{/block}
{block name=search}

{/block}
{block name="content"}
<div class="show-info">
    <button class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span>用户数</span>
        <span class="badge">4</span>
    </button>

    <button class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span>用户数</span>
        <span class="badge">4</span>
    </button>

    <button class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span>用户数</span>
        <span class="badge">4</span>
    </button>

</div>
<table class="table table-hover">
    <tr>
        <th colspan="2" class="info">系统信息</th>
    </tr>
    {foreach $system_info as $k=>$v}
    <tr>
        <td>{$k}</td>
        <td>{$v}</td>
    </tr>
    {/foreach}

    <!--<tr>-->
        <!--<td class="active">...</td>-->
        <!--<td class="success">...</td>-->
        <!--<td class="warning">...</td>-->
        <!--<td class="danger">...</td>-->
        <!--<td class="info">...</td>-->
    <!--</tr>-->
</table>
<table class="table table-hover">
    <tr>
        <th colspan="2" class="info">产品团队</th>
    </tr>
    <tr>
        <td>总策划</td>
        <td>丁馀峰</td>
    </tr>
    <tr>
        <td>产品设计及研发团队</td>
        <td>丁馀峰</td>
    </tr>
    <tr>
        <td>官方QQ</td>
        <td>553475725</td>
    </tr>

</table>

{/block}
