{extends file="{$VIEW}/common/base.html"}
{block name="title"}add菜单{/block}
{block name="css"}
<link href="{$__PUBLIC__}/admin/menu/add.css" type="text/css" rel="stylesheet">
{/block}

{block name="content"}
<div class="form">
    <form>
        <input type="hidden" value="{$hid_type}" class="hid_type" name="hid_type">
        <input type="hidden" value="{$gather.id}" name="id">
        <div class="form-group">
            <label>编码</label>
            <input type="text" class="form-control iconv" placeholder="utf-8" name="iconv" value='{$gather.iconv}'>
        </div>
        <!--小说详情-->
        <div class="form-group">
            <label>小说详情页地址</label>
            <input type="text" class="form-control detail_url"  name="detail_url"  value='{$gather.detail_url}' required="required">
        </div>
        <div class="form-group">
            <label>详情开始</label>
            <textarea name="detail_start" class="form-control detail_start" style="resize: none;height: 140px;" >{$gather.detail_start}</textarea>
        </div>
        <div class="form-group">
            <label>详情结束</label>
            <textarea name="detail_end" class="form-control detail_end" style="resize: none;height: 140px;">{$gather.detail_end}</textarea>
        </div>
        <div class="form-group">
            <label>详情正则</label>
            <textarea name="detail_pattern" class="form-control detail_pattern" style="resize: none;height: 140px;">{$gather.detail_pattern}</textarea>
        </div>
        <button type="button" class="btn btn-warning test" _type="detail">小说详情采集测试</button><br/><br/>

        <!--小说章节-->
        <div class="form-group">
            <label>章节url(如何和详情url一样则不填)</label>
            <input type="text" class="form-control section_url"  name="section_url" value='{$gather.section_url}'>
        </div>
        <div class="form-group">
            <label>章节开始</label>
            <input type="text" class="form-control section_start"  name="section_start" value='{$gather.section_start}'>
        </div>
        <div class="form-group">
            <label>章节结束</label>
            <input type="text" class="form-control section_end"  name="section_end" value='{$gather.section_end}'>
        </div>
        <div class="form-group">
            <label>章节正则</label>
            <input type="text" class="form-control section_pattern"  name="section_pattern" value='{$gather.section_pattern}'>
        </div>

        <div class="radio" style="z-index:-99">
            <label>
                <input type="radio" name="section_page" value="0" {if $gather.section_page eq 0}checked="checked"{/if}>
                无分页
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="section_page" value="1" {if $gather.section_page eq 1}checked="checked"{/if}>
                有分页
            </label>
        </div>
        <div class="section_page" {if $gather.section_page eq 0}style="display:none;"{/if}>
            <div class="form-group ">
                <label>章节分页开始</label>
                <input type="text" class="form-control section_page_start"  name="section_page_start" value="{$gather.section_page_start}">
            </div>
            <div class="form-group ">
                <label>章节分页结束</label>
                <input type="text" class="form-control section_page_end "  name="section_page_end" value="{$gather.section_page_end}">
            </div>
            <div class="form-group ">
                <label>章节分页正则</label>
                <input type="text" class="form-control section_page_pattern " name="section_page_pattern" value="{$gather.section_page_pattern}">
            </div>
        </div>

        <button type="button" class="btn btn-warning test" _type="section">小说章节采集测试</button><br/><br/>

        <div class="form-group">
            <label>内容开始</label>
            <input type="text" class="form-control content_start"  name="content_start" value='{$gather.content_start}'>
        </div>
        <div class="form-group">
            <label>内容结束</label>
            <input type="text" class="form-control content_end"  name="content_end" value='{$gather.content_end}'>
        </div>
        <div class="form-group">
            <label>内容正则</label>
            <input type="text" class="form-control content_pattern" name="content_pattern" value='{$gather.content_pattern}'>
        </div>
        <button type="button" class="btn btn-warning test" _type="content">小说任意章节内容采集测试</button><br/><br/>


        <button type="button" class="btn btn-default submit">确定</button>
    </form>
    <input type="hidden" value="{$__CONTROLLER__}" class="CONTROLLER">
</div>
{/block}

{block name="body"}
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:80%;top:80px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">采集测试</h4>
            </div>
            <div class="modal-body">
                <p style="height: 269px;overflow-y:scroll">


                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{/block}


{block name="javascript"}
<script src="{$__PUBLIC__}/js/admin/gather/edit.js"></script>
{/block}



