<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="丁馀峰">
    <meta name="Keywords" content="adelephp">
    <meta name="Description" content="">

    <title>采集页面</title>

    <link href="{$__PUBLIC__}/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="{$__PUBLIC__}/admin/gather/gather.css" type="text/css" rel="stylesheet">
    <script src="{$__PUBLIC__}/js/jq3.2.1.js"></script>



</head>
<body>
<div class="body">
    <div class="navbar navbar-inverse " >
        <div>
            <span class="mgl50">开始时间:</span><span class="start_time">{$start_time|default:'2017/8/24 3:42'}</span>
        </div>
        <div>
            <span class="mgl50">上一次更新时间:</span><span class="end_time">2017/8/24 3:42</span>
        </div>


    </div>

    <div class="content">
        <div class="con_info">
            <div class="" >书名：<span class="book_name">正在获取</span></div>
            <div class="" >书籍信息采集：<span class="book_status">wait</span></div>
            <div class="" >状态：<span class="mgl50 status">采集ing</span></div>
        </div>

        <div class="con_info">
            <div class="" >进度：<span class="now">0</span>/<span class="all">？</span></div>
            <div class="" >正在采集章节：<span class="mgl50 now_section">正在获取</span></div>

        </div>




        <div class="error info" >
            <div>错误信息：</div>
        </div>
        <div class="other info" >
            <div>其他信息：</div>
        </div>

    </div>
</div>

<!--<footer>-->
    <!--<div class="copyright">©2017 iadele.cn iadele版权所有</div>-->
<!--</footer>-->
<script src="{$__PUBLIC__}/bootstrap/bootstrap.min.js"></script>
<script src="{$__PUBLIC__}/js/admin/gather/gather.js"></script>



</body>
</html>
