.content{
    margin-left:0px;
}
.show-info{
    width:80%;
    margin:10px auto;
}
.show-info .btn{
    width:150px;
    height:70px;
    margin-right:30px;
}
.show-info .btn span{
    font-size:20px;
}
.table{
    width: 48%;
    float: left;
    margin: 0 1% 20px;
}




















